* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  color: #ebebeb;
  background-color: #252525;
  transition: background-color 0.55s ease;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(0.625rem) saturate(100%);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
}

@media (max-width: 1535px) {
  header {
    padding: 1rem 3%;
    transition: 0.2s;
  }
}

.nav {
  display: flex;
}

nav a {
  color: #ebebeb;
  margin-left: 3.75rem;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.55s ease;
}

nav a:hover {
  border-bottom: 0.125rem solid #ebebeb;
}

.nav-active {
  color: #006df7;
  font-weight: 700;
}

.toggle-container ul {
  display: flex;
}

.toggle-container i {
  color: #ebebeb;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 3rem;
}

.rotate-icon {
  display: inline-block;
  transition: transform 0.55s ease;
}

.rotate-icon:hover {
  transform: rotate(-90deg);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menu-icon {
  font-size: 1.5625rem;
  cursor: pointer;
  z-index: 10001;
}

.menu-icon-container {
  display: none;
}

.card {
  margin-top: 8rem;
  margin-right: 25%;
  margin-left: 25%;
  padding: 3rem 8%;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(0.625rem) saturate(100%);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 0.7rem;
}

.heading {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.heading a {
  color: #ebebeb;
  border-bottom: 0.125rem solid transparent;
  transition: all 0.55s ease;
}

.heading a:hover {
  border-bottom: 0.125rem solid #ebebeb;
}

.heading h1 {
  font-size: 2rem;
  text-align: center;
}

.name-color, .required {
  color: #d9042b;
}

.heading p {
  margin: 0rem;
  margin-top: 1rem;
  text-align: center;
}

.contact-button {
  margin-top: 2rem;
  background-color: #056cf2;
  border-radius: 2rem;
  padding: 0.75rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  transition: all 0.55s ease;
}

.contact-button:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.contact-button a {
  border-bottom: 0;
  font-weight: 500;
}

.contact-button a:hover {
  border-bottom: 0;
}

.sobre {
  text-align: justify;
  margin-top: 2rem;
}

.sobre p,
.maps-container {
  margin-top: 1rem;
}

.ubicacion iframe {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
}

.ubicacion {
  margin-top: 2rem;
}

.contacto {
  margin-top: 2rem;
}

.contacto .contact-heading {
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contacto form {
  display: flex;
  flex-direction: column;
}

.contacto label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 8rem;
  width: auto;
  background-color: #ebebeb;
}

input {
  background-color: #ebebeb;
}

.contacto input, .contacto textarea {
  padding: 10px;
  border: none;
  border-radius: 2rem;
  margin-bottom: 20px;
}

.contacto input:focus, .contacto textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #056cf2;
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}

.contacto button[type="submit"] {
  background-color: #056cf2;
  color: #ebebeb;
  border: none;
  border-radius: 2rem;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.55s ease;
}

.contacto button[type="submit"]:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.contacto div {
  margin: 0 auto;
  margin-bottom: 0.6rem;
  margin-top: 0.3rem;
}

.g-recaptcha {
  /* transform: scale(0.9); */
}

.back-to-top {
  position: fixed;
  bottom: 1.8rem;
  right: 1.8rem;
  padding: 0.6rem 0.9rem;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(0.3rem);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  color: #ebebeb;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.55s ease 0s;
  font-size: 1.2rem;
}

.back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #202020;
  padding-top: 2rem;
  padding-bottom: 2rem;
  bottom: 0rem;
  margin-top: 2rem;
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
  width: 100%;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.social-icons a {
  color: #ebebeb;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.nav-footer {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  margin-bottom: 0.3rem;
}

.nav-footer a {
  color: #ebebeb;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.copyright {
  text-align: center;
  font-size: 0.75rem;
}

.copyright a {
  color: #ebebeb;
}

body.lightmode {
  transition: background-color 0.55s ease;
  color: #252525;
  background-color: #ebebeb;
}

li.lightmode,
a.lightmode,
i.lightmode {
  color: #252525;
}

i.ri-arrow-up-line.lightmode {
  color: #ebebeb;
}

footer.lightmode {
  background-color: #dbdbdb;
}

@media (max-width: 990px) {
  nav {
    display: none;
  }

  header {
    padding-left: 8%;
    padding-right: 8%;
  }

  .heading-container {
    margin-top: 6rem;
  }

  .toggle-container i {
    font-size: 1.8rem;
  }

  .toggle-container button {
    width: 4rem;
  }

  .rotate-icon:hover {
    transform: rotate(0deg);
  }

  .sobre {
    text-align: justify;
    hyphens: auto;
  }

  .maps-container {
    flex-direction: column;
    align-content: normal;
    align-items: center;
  }

  .card {
    margin-right: 8%;
    margin-left: 8%;
  }

  .g-recaptcha {
    transform: scale(0.9);
    transform-origin: 0 0;
  }
}